<!DOCTYPE html>
<html>
<head>
  <link href="/static/main.css" rel="stylesheet">
  <meta charset="UTF-8">
</head>

<body>
  <header>
    <nav>
      <a href="/"><img id="logo" src= "/static/JustDebate.png"></a>
      <ul>
        <li><h3><a href="/search/">Search</a></h3></li>
      </ul>
      <ul class ="logins">
        {% if login %}
        <li>Welcome {{login.username}}</li>
        <li><h3><a href="/user/{{login.id}}/">View Profile</a></h3></li>
        <li><h3><a href="/logout/">Logout</a></h3></li>
        {% end if %}

        {% if not login %}
        <li><h3><a href="/login/">Login</a></h3></li>
        <li><h3><a href="/signup/">Sign Up</a></h3></li>
        {% end if %}
      </ul>
    </nav>
</header>
<main>
