{% include header.html %}
<title>Profile</title>
<h3>Welcome Back {{user.fname}}  {{user.lname}}</h3>
<h3 class = "profileyourinformationheading"> Your Information is:</h3>
<p class = "profileyourinformation">First Name: {{user.fname}}</p>
<p class = "profileyourinformation">Last Name: {{user.lname}}</p>
<p class = "profileyourinformation">Email Address: {{user.email}}</p>
<p class = "profileyourinformation">Country: {{user.country}}</p>
<p class = "profileyourinformation">Bio: {{user.bio}}</p>
<p class = "profileyourinformation">Username: {{user.username}}</p>
<p class = "profileyourinformation">Password: {{user.password}}</p>
{% if commentsyes == "yes"%}
<h3 class = "profileyourcommentsheading">Your Comments Are:</h3>
{% end if %}
{% for comment in comments %}
<p class = 'profileyourcommentstopicname'>Topic Name: {{comment.topicid}}</p>
<p class = 'genericnomargin'>Stance: {{comment.stance}}</p>
<p class = 'genericnomargin'>Comment: {{comment.comment}}</p>
<a href="/user/deletecomment/{{comment.commentid}}/">Delete</a>
<div class = "underline"></div>
{% end for %}
<a href="/user/updateprofile/{{user.id}}/"><p class = 'genericnomargin'>Update Profile Information</p></a>
<a href="/user/removeprofile/{{user.id}}/"><p class = 'genericnomargin'>Delete Profile</p></a>
