{% include header.html %}
<title>{{topic.name}} Page</title>
  <h2 id = 'topicpagetopicname'>{{topic.name}}</h2>
  <h3 id = 'topicpagetopicdescription'>{{topic.description}}</h3>
  <div class="comment">
    <div class = "commentyes">
      {% if typecomment == "" or typecomment == "nono" %}
        <h3 class="topicpagesectionheading">Yes</h3>
          <ul>
              {% for comment in commentyes %}
                  <li><h4 class = "genericnomargin">{{comment.comment}}</h4>
                  <p class = "topicpagecommentuserinfo">Comment by: {{comment.username}}, from {{comment.usercountry}}</p></li>
              {% end for %}
          </ul>
      {% end if %}
      {% if typecomment == "noyes" %}
        <h3 class="topicpagesectionheading">There are no "Yes" comments</h3>
      {% end if %}
    </div>
    <div class = 'commentno'>
      {% if typecomment == "" or typecomment == "noyes" %}
        <h3 class="topicpagesectionheading">No</h3>
          <ul>
            {% for comment in commentno %}
            <li><h4 class = "genericnomargin">{{comment.comment}}</h4>
                <p class = "topicpagecommentuserinfo">Comment by: {{comment.username}}, from {{comment.usercountry}}</p></li>
            {% end for %}
          <ul>
      {% end if %}
      {% if typecomment == "nono" %}
        <h3 class="topicpagesectionheading">There are no "No" comments</h3>
      {% end if %}
    </div>
    {% if typecomment == "none" %}
      <h3 class = "genericnomargin">There are no comments on this post.</h3>
    {% end if %}
  </div>
  {% include leaveacomment.html %}
  <h3>Comment Submitted for Review and Compliance with Terms of Use</h3>
</main>
