
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro:300,400');

html{
  align-self: center;
}

body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
input[type=submit] {
  cursor: pointer;
}
a, button{
  cursor: pointer;
}
a, a:link {
  color: RGB(24,54,105);
  text-decoration: none;
}
a:active {
  text-decoration: none;
  color: RGB(24,54,105);
}

header {
  background-color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  border-bottom: 5px solid RGB(190,30,45);
  padding: 10px 0;
}

h1{
  color: #000000;
  font-weight: 300;
  font-size: 50px;
  font-family: 'Source Sans Pro';
}

h2{
  color: #000000;
  font-weight: 300;
  font-size: 30px;
  font-family: 'Source Sans Pro';
}

h3{
  font-weight: 200;
  font-size: 23px;
  font-family: 'Source Sans Pro';
  color: #000000;
}

h4{
  font-weight: 200;
  font-size: 19px;
  font-family: 'Source Sans Pro';
  color: #000000;
}

article{
  background-color: RGB(255,255,255);
}
main {
    background-color: RGB(230,230,230);
    width: 60%;
    margin: 0 auto;
    padding: 20px 20px;
    }
header>nav>ul{
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  padding: 0px;
  color: RGB(190,30,45);
}
header>nav>ul>li{
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
}
nav{
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
#create-profile{
  display: grid;
  padding: 8px;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  align-items: stretch;
}

#create-profile label {
  text-align:right;
  align-self: center;
}

#create-profile input, #create-profile textarea {
  padding: 8px;
  border: 1px solid RGB(24,54,105);
  border-radius: 2px;
}
#create-profile [type="submit"]{
  grid-column: 2;
  background: RGB(190,30,45);
  border: none;
  padding: 12px 0;
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
}

#create-account h1{
  text-align:center;
}
#searchbar{
  margin: 20px;
  margin-right: none;
  height: 30px;
  width: 500px;
  font-size: 28px;
}
#searchbutton{
  margin: 20px;
  font-size: 28px;
  color: #ffffff;
  background-color: RGB(190,30,45);
  border-color: RGB(190,30,45);
}
.commentoverallheading {
  text-align: left;
}
.comment {
  text-align: center;
}
.commentno {
  display: inline-block;
  padding-left: 25px;
  text-align: left;
  vertical-align: top;
}
.commentyes {
  display: inline-block;
  text-align: left;
  vertical-align: top;
}
.commentno ul {
  list-style: none;
  padding-left: 0px;
}
.commentyes ul {
  list-style: none;
  padding-left: 0px;
}
.commentnoheading {
  margin: 0px;
  text-align: left
}
.commentyesheading {
  margin: 0px;
  text-align: left;
}
.genericnomargin {
  margin: 0px;
}
#logo {
  padding-right: 15px;
  vertical-align: middle;
}
#login label {
  text-align: right;
  align-self: center;
}
#login input, #login textarea {
  padding: 8px;
  border: 1px solid RGB(24,54,105);
  border-radius: 2px;
}
#login [type="submit"]{
  background: RGB(190,30,45);
  border: none;
  padding: 10px 5px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
}
.topicpagecommentuserinfo {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
}
#searchpageheading {
  margin-bottom: 0px;
}
#indexpageheading {
  margin-bottom: 0px;
}
#indexpageheading2 {
  margin-top: 0px;
}
.homepagerecommendedtopicsheadings {
  margin-bottom: 0px;
  margin-top: 10px;
}
.homepagerecommendedtopicsdescription {
  margin-top: 0px;
  margin-bottom: 10px;
}
.recommendedtopics {
  border-bottom: 1px solid RGB(190,30,45);
  margin-bottom: 0px;
  margin-top: 0px;
}
.profileyourinformationheading {
  margin-bottom: 5px;
  margin-top: 0px;
}
.profileyourinformation {
  margin: 0px;
  margin-bottom: 3px;
}
#searchresultsitemname {
  margin-bottom: 5px;
  margin-left: 20px;
}
.leaveacommentfields {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
#leaveacommentanonfield {
  padding-right: 20px;
}
.leaveacommentfields li h4{
  display: inline-block;
  margin: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.leaveacommentfields label {
  font-weight: 200;
  font-size: 19px;
  font-family: 'Source Sans Pro';
  color: #000000;
}
.leaveacommentfields2 {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#leaveacommentcommentfieldlabel {
  padding-bottom: 5px;
}
#entercomment {
  width: 600px;
  height: 100px;
  font-weight: 200;
  font-size: 19px;
  font-family: 'Source Sans Pro';
  color: #000000;
}
#leaveacommentheading {
  margin: 0px;
  padding-top: 40px;
  margin-bottom: 5px;
  border-bottom: 1px solid RGB(190,30,45);
  width: 25%;
}
#leaveacommentsubmitacomment {
  margin-top: 7px;
  background: RGB(190,30,45);
  border: none;
  padding: 10px 5px;
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
}
#searchresultsitemdescription {
  margin-top: 0px;
  margin-left: 20px;
}
.underline {
  border-bottom: 1px solid RGB(190,30,45);
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
#results {
  border-bottom: 1px solid RGB(190,30,45);
}
.profileyourcommentsheading {
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 2px;
}
.profileyourcommentstopicname {
  margin: 0px;
  padding-top: 10px;
}
#topicpagetopicname {
  margin-bottom: 0px;
}
#topicpagetopicdescription {
  margin-top: 0px;
}
.topicpagesectionheading {
  margin: 0px;
  border-bottom: 1px solid RGB(190,30,45);
  text-align: center;
}
#suggestatopic {
  text-align: center;
}
